In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("G:/Shared drives/echolab data/wildfire_speciation/intermediate/pm_plume_speciation_at_sites.csv")
first_column = df.columns[0]
df = df.drop([first_column], axis=1)

In [3]:
df.head()

,Dataset,SiteCode,Date,State,region,season,year,month,doy,km2fire,...,SO4,SR,V,ZN,ZR,units,Elevation,Latitude,Longitude,epsg
0,EPACSN,170310076,2006-01-02,IL,midwest,winter,2006,1,2,581.0,...,3.46,0.00000,0.00000,0.01130,0.00000,ug_m3,186.0,41.751400,-87.713488,4326
1,EPACSN,240053001,2006-01-02,MD,northeast,winter,2006,1,2,249.0,...,1.26,0.00086,0.00222,0.01270,0.00000,ug_m3,5.0,39.310833,-76.474444,4326
2,EPACSN,250250042,2006-01-02,MA,northeast,winter,2006,1,2,787.0,...,2.14,0.00000,0.00466,0.00695,0.00000,ug_m3,6.0,42.329500,-71.082600,4326
3,EPACSN,261630001,2006-01-02,MI,midwest,winter,2006,1,2,503.0,...,3.34,0.00000,0.00000,0.04210,0.00373,ug_m3,181.0,42.228620,-83.208200,4326
4,EPACSN,270530963,2006-01-02,MN,midwest,winter,2006,1,2,606.0,...,2.23,0.00258,0.00000,0.00356,0.00331,ug_m3,267.0,44.953660,-93.258210,4326

In [4]:
df.columns

Index(['Dataset', 'SiteCode', 'Date', 'State', 'region', 'season', 'year',
       'month', 'doy', 'km2fire', 'smoke_day', 'low_count', 'med_count',
       'high_count', 'density_missing', 'smokePM_pred', 'MF', 'RC_PM2',
       'OC_frac', 'EC_frac', 'NO3_frac', 'dust_frac', 'SO4_frac', 'NH4_frac',
       'metals_frac', 'NH4', 'tot_metals', 'ammNO3', 'ammSO4', 'AL', 'AS',
       'BR', 'CA', 'EC', 'OC', 'CHL', 'CL', 'CR', 'CU', 'FE', 'K', 'MG', 'MN',
       'MO', 'NA', 'NI', 'NO3', 'N2', 'P', 'PB', 'RB', 'S', 'SE', 'SI', 'SOIL',
       'SO4', 'SR', 'V', 'ZN', 'ZR', 'units', 'Elevation', 'Latitude',
       'Longitude', 'epsg'],
      dtype='object')

In [5]:
pd.set_option('display.max_rows',None)
df.isna().sum()

Dataset                 0
SiteCode                0
Date                    0
State                  15
region               2483
season                  0
year                    0
month                   0
doy                     0
km2fire                 0
smoke_day               0
low_count               0
med_count               0
high_count              0
density_missing         0
smokePM_pred       428767
MF                 186892
RC_PM2             165141
OC_frac            165669
EC_frac            199815
NO3_frac           166064
dust_frac          165389
SO4_frac           166063
NH4_frac           199815
metals_frac        166592
NH4                188471
tot_metals          26694
ammNO3             188471
ammSO4             176935
AL                  26002
AS                  26004
BR                  26005
CA                  26039
EC                 158810
OC                 122992
CHL                188471
CL                  27276
CR                  26566
CU                  26120
FE                  26116
K                   26003
MG                  26000
MN                  26000
MO                 440420
NA                  26001
NI                  26568
NO3                 27763
N2                 188471
P                   26000
PB                  26003
RB                  26004
S                   26004
SE                  26004
SI                  26002
SOIL               149802
SO4                 27763
SR                  26004
V                   26001
ZN                  26086
ZR                  26005
units                   0
Elevation             473
Latitude                0
Longitude               0
epsg                    0
dtype: int64

In [6]:
# drop State == NaN, Region == Nan
df_clean = df.dropna(subset=['State', 'region'])
df_clean.isna().sum()

Dataset                 0
SiteCode                0
Date                    0
State                   0
region                  0
season                  0
year                    0
month                   0
doy                     0
km2fire                 0
smoke_day               0
low_count               0
med_count               0
high_count              0
density_missing         0
smokePM_pred       426271
MF                 186847
RC_PM2             165080
OC_frac            165608
EC_frac            199754
NO3_frac           166003
dust_frac          165328
SO4_frac           166002
NH4_frac           199754
metals_frac        166531
NH4                188445
tot_metals          26665
ammNO3             188445
ammSO4             176919
AL                  25973
AS                  25975
BR                  25976
CA                  26010
EC                 158780
OC                 122962
CHL                188445
CL                  27247
CR                  26537
CU                  26091
FE                  26087
K                   25974
MG                  25971
MN                  25971
MO                 437922
NA                  25972
NI                  26539
NO3                 27752
N2                 188445
P                   25971
PB                  25974
RB                  25975
S                   25975
SE                  25975
SI                  25973
SOIL               149758
SO4                 27752
SR                  25975
V                   25972
ZN                  26057
ZR                  25976
units                   0
Elevation             473
Latitude                0
Longitude               0
epsg                    0
dtype: int64

In [7]:
df_clean['region'].unique()

array(['midwest', 'northeast', 'southwest', 'southeast', 'rocky_mountain',
       'pacific', 'noncontiguous'], dtype=object)

In [8]:
# keep relevant columns only
df_sum = df_clean[['smokePM_pred', 'MF', 'RC_PM2', 'NH4', 
           'tot_metals', 'ammNO3', 'ammSO4', 'AL', 'AS','BR', 'CA', 'EC', 
           'OC', 'CHL', 'CL', 'CR', 'CU', 'FE', 'K', 'MG', 'MN', 'MO', 'NA', 
           'NI', 'NO3', 'N2', 'P', 'PB', 'RB', 'S', 'SE', 'SI', 'SOIL','SO4', 
           'SR', 'V', 'ZN', 'ZR']]

In [9]:
pd.set_option('display.max_columns',None)
round(df_sum.describe(),2)

,smokePM_pred,MF,RC_PM2,NH4,tot_metals,ammNO3,ammSO4,AL,AS,BR,CA,EC,OC,CHL,CL,CR,CU,FE,K,MG,MN,MO,NA,NI,NO3,N2,P,PB,RB,S,SE,SI,SOIL,SO4,SR,V,ZN,ZR
count,38085.00,277509.00,299276.00,275911.00,437691.00,275911.00,287437.00,438383.00,438381.00,438380.0,438346.00,305576.00,341394.00,275911.00,437109.00,437819.00,438265.00,438269.00,438382.00,438385.00,438385.00,26434.00,438384.00,437817.00,436604.00,275911.00,438385.00,438382.00,438381.00,438381.00,438381.00,438383.00,314598.00,436604.00,438381.00,438384.0,438299.00,438380.00
mean,5.57,4.55,4.30,inf,0.32,0.50,1.27,0.05,0.00,0.0,0.05,0.24,1.14,0.07,0.03,0.00,0.00,0.06,0.05,0.02,0.00,0.00,0.07,0.00,0.71,0.01,0.00,0.00,0.00,0.42,0.00,0.12,0.60,1.18,0.00,0.0,0.01,0.00
std,10.26,4.92,4.62,NaN,0.42,1.17,1.62,0.11,0.00,0.0,0.09,0.45,2.87,0.24,0.16,0.01,0.01,0.11,0.15,0.03,0.01,0.00,0.16,0.00,1.51,0.02,0.00,0.01,0.00,0.48,0.00,0.23,1.09,1.41,0.00,0.0,0.02,0.00
min,0.00,-10.72,-0.14,-1127.82,-0.05,-0.06,-0.02,-0.09,-0.00,-0.0,-0.01,-0.02,-0.24,-0.15,-0.00,-0.00,-0.01,-0.02,-0.01,-0.02,-0.01,0.00,-0.04,-0.00,-0.05,-0.08,-0.00,-0.02,-0.01,-0.00,-0.00,-0.06,-0.02,-0.03,-0.01,-0.0,-0.00,-0.04
25%,1.46,1.76,1.48,0.20,0.10,0.08,0.39,0.01,0.00,0.0,0.01,0.06,0.37,0.01,0.00,0.00,0.00,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.10,0.00,0.00,0.00,0.00,0.14,0.00,0.02,0.10,0.37,0.00,0.0,0.00,0.00
50%,2.99,3.32,3.13,0.31,0.20,0.19,0.78,0.02,0.00,0.0,0.03,0.13,0.76,0.01,0.00,0.00,0.00,0.03,0.03,0.01,0.00,0.00,0.02,0.00,0.25,0.00,0.00,0.00,0.00,0.27,0.00,0.06,0.28,0.75,0.00,0.0,0.00,0.00
75%,5.95,5.80,5.60,0.53,0.38,0.45,1.52,0.05,0.00,0.0,0.05,0.27,1.32,0.04,0.01,0.00,0.00,0.07,0.06,0.02,0.00,0.00,0.08,0.00,0.65,0.01,0.00,0.00,0.00,0.52,0.00,0.13,0.68,1.46,0.00,0.0,0.01,0.00
max,291.49,341.35,318.56,inf,44.94,68.99,55.68,11.18,0.14,1.2,7.53,38.53,812.25,7.84,14.20,2.34,1.51,9.08,32.35,4.87,2.73,0.08,13.56,0.47,53.48,0.77,0.51,0.99,0.01,11.74,0.43,11.40,41.16,46.20,1.22,0.3,3.18,0.36

In [10]:
# drop inifinite values from NH4 
df_filter = df.isin([np.inf, -np.inf])
df_sum_clean = df_sum[~df_filter]

In [11]:
round(df_sum_clean.describe(), 2)

,smokePM_pred,MF,RC_PM2,NH4,tot_metals,ammNO3,ammSO4,AL,AS,BR,CA,EC,OC,CHL,CL,CR,CU,FE,K,MG,MN,MO,NA,NI,NO3,N2,P,PB,RB,S,SE,SI,SOIL,SO4,SR,V,ZN,ZR
count,38085.00,277509.00,299276.00,275780.00,437691.00,275911.00,287437.00,438383.00,438381.00,438380.0,438346.00,305576.00,341394.00,275911.00,437109.00,437819.00,438265.00,438269.00,438382.00,438385.00,438385.00,26434.00,438384.00,437817.00,436604.00,275911.00,438385.00,438382.00,438381.00,438381.00,438381.00,438383.00,314598.00,436604.00,438381.00,438384.0,438299.00,438380.00
mean,5.57,4.55,4.30,0.51,0.32,0.50,1.27,0.05,0.00,0.0,0.05,0.24,1.14,0.07,0.03,0.00,0.00,0.06,0.05,0.02,0.00,0.00,0.07,0.00,0.71,0.01,0.00,0.00,0.00,0.42,0.00,0.12,0.60,1.18,0.00,0.0,0.01,0.00
std,10.26,4.92,4.62,4.57,0.42,1.17,1.62,0.11,0.00,0.0,0.09,0.45,2.87,0.24,0.16,0.01,0.01,0.11,0.15,0.03,0.01,0.00,0.16,0.00,1.51,0.02,0.00,0.01,0.00,0.48,0.00,0.23,1.09,1.41,0.00,0.0,0.02,0.00
min,0.00,-10.72,-0.14,-1127.82,-0.05,-0.06,-0.02,-0.09,-0.00,-0.0,-0.01,-0.02,-0.24,-0.15,-0.00,-0.00,-0.01,-0.02,-0.01,-0.02,-0.01,0.00,-0.04,-0.00,-0.05,-0.08,-0.00,-0.02,-0.01,-0.00,-0.00,-0.06,-0.02,-0.03,-0.01,-0.0,-0.00,-0.04
25%,1.46,1.76,1.48,0.20,0.10,0.08,0.39,0.01,0.00,0.0,0.01,0.06,0.37,0.01,0.00,0.00,0.00,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.10,0.00,0.00,0.00,0.00,0.14,0.00,0.02,0.10,0.37,0.00,0.0,0.00,0.00
50%,2.99,3.32,3.13,0.31,0.20,0.19,0.78,0.02,0.00,0.0,0.03,0.13,0.76,0.01,0.00,0.00,0.00,0.03,0.03,0.01,0.00,0.00,0.02,0.00,0.25,0.00,0.00,0.00,0.00,0.27,0.00,0.06,0.28,0.75,0.00,0.0,0.00,0.00
75%,5.95,5.80,5.60,0.53,0.38,0.45,1.52,0.05,0.00,0.0,0.05,0.27,1.32,0.04,0.01,0.00,0.00,0.07,0.06,0.02,0.00,0.00,0.08,0.00,0.65,0.01,0.00,0.00,0.00,0.52,0.00,0.13,0.68,1.46,0.00,0.0,0.01,0.00
max,291.49,341.35,318.56,1127.84,44.94,68.99,55.68,11.18,0.14,1.2,7.53,38.53,812.25,7.84,14.20,2.34,1.51,9.08,32.35,4.87,2.73,0.08,13.56,0.47,53.48,0.77,0.51,0.99,0.01,11.74,0.43,11.40,41.16,46.20,1.22,0.3,3.18,0.36

In [13]:
print(df_clean['year'].min())
df_clean['year'].max()

2006

2020

In [14]:
df_clean.to_csv("G:/Shared drives/echolab data/wildfire_speciation/intermediate/pm_plume_speciation_at_sites_tempAK.csv", index=False)